---
import "../styles/global.css"; // This imports everything you listed
const { title = "Untitled", description = "" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="preload" href="/fonts/atkinson-regular.woff" as="font" type="font/woff" crossorigin />
  </head>

  <body>
    <main>
      <slot />
    </main>
  </body>
</html>