---
const title = "Arynwood IRC Chat";
import HamburgerNav from '../layouts/HamburgerNav.astro';
---

<style>
  .irc-frame {
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 8px;
    background-color: #000;
    margin-top: 1.5rem;
  }

  .irc-header {
    text-align: center;
    font-family: monospace;
    font-size: 1.5rem;
    color: #b48eff;
    text-shadow: 0 0 3px #b48eff;
  }

  .irc-footer {
    text-align: center;
    font-size: 0.875rem;
    color: #888;
    margin-top: 1rem;
  }

  .irc-footer a {
    color: #b48eff;
    text-decoration: underline;
  }

  .irc-footer a:hover {
    color: #fff;
  }
</style>

<HamburgerNav title={title}>
  <div>

    <iframe src="https://webchat.oftc.net/?channels=arynwood&uio=MTE9MjY3cc" width="647" height="400"></iframe>

    
  </div>
</HamburgerNav>
