---
import HamburgerNav from '../layouts/HamburgerNav.astro';
---

<HamburgerNav title="Classic View">
  <h1 style="color: red;">Layout Loaded</h1>
  <p>This is content from the classic page.</p>
</HamburgerNav>