---
import '../styles/tailwind.css';
---

<h1 class="text-4xl font-bold text-purple-300">Projects</h1>
<ul class="mt-6 space-y-2">
  <li><a 
href="https://github.com/SkyeVault/Main/blob/main/Rust_Projects/spotify_playlist_maker/readme.md" 
target="_blank">Spotify Playlist Maker</a></li>
  <li><a href="https://testnets.opensea.io/collection/loreleinoblegenesis">Lorelei 
NFT Gallery</a> (mainnet coming soon)</li>
  <li><a href="/blog">DevLog (Rainkeep)</a></li>
</ul>

