---
import { getCollection, getEntryBySlug } from 'astro:content';
import Layout from '../../layouts/BaseLayout.astro'; // or whatever layout you're using

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');

  return allPosts
    .filter((post) => !!post.slug)
    .map((post) => ({
      params: { slug: [post.slug] },
    }));
}

export async function get({ params }) {
  const slug = params.slug?.[0];
  const post = await getEntryBySlug('blog', slug);

  if (!post) {
    return {
      notFound: true,
    };
  }

  return {
    props: {
      post,
    },
  };
}

const { post } = Astro.props;
---

<Layout title={post.data.title}>
  <article class="prose dark:prose-invert mx-auto">
    <h1>{post.data.title}</h1>
    <p class="text-sm text-gray-500">{post.data.pubDate}</p>
    <div innerHTML={post.body} />
  </article>
</Layout>

