---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');

  return allPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
---

<html lang="en">
  <head>
    <title>{Astro.props.post?.data?.title ?? 'Post Not Found'}</title>
  </head>
  <body>
    {Astro.props.post ? (
      <>
        <article style="max-width: 600px; margin: auto;">
          <h1>{Astro.props.post.data.title}</h1>
          <p>Published on {new Date(Astro.props.post.data.pubDate).toDateString()}</p>

          <!-- Render the Markdown body -->
          {await Astro.props.post.render()}
        </article>
      </>
    ) : (
      <p style="text-align:center;">Sorry, this post couldn't be found.</p>
    )}
  </body>
</html>
