---
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog | Arynwood</title>
  </head>
  <body>
    <div class="terminal">
      <div class="output">$ cd blog</div>
      <div class="output">Listing devlogs...</div>

      {posts.map((post) => (
        <div class="output">
          <a href={`/blog/${post.slug}`}>
            {post.data.title} ({post.data.pubDate.toDateString()})
          </a>
        </div>
      ))}
    </div>
  </body>
</html>

