---
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Blog</title>
  </head>
  <body
    style="
      padding: 2rem;
      background: #0e0e0e;
      color: #dcdcdc;
      font-family: 'JetBrains Mono', monospace;
    "
  >
    <main style="max-width: 800px; margin: auto;">
      <h1>Blog</h1>

      <ul>
        {allPosts.map((post) => (
          <li style="margin-bottom: 2rem;">
            <a href={`/blog/${post.slug}`} style="color: #79b8ff; font-size: 1.2rem;">
              {post.data.title}
            </a>
            <br />
            <small>{new Date(post.data.pubDate).toDateString()}</small>
            <p>{post.data.description}</p>
          </li>
        ))}
      </ul>
    </main>
  </body>
</html>